<template>
    <div class="container">
        <div class="row">
            <h1 class="text-primary">
                Gulf Coast Spirits
            </h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well well-sm page-logo">
                        Welcome to Gulf Coast Spirits, Mandeville's most convenient liquor store. We feature top-selling brands you know at the prices
                        you love. Expect fast and friendly service!
                    </div>
                </div>

            </div>
            <h1 class="text-primary">What we sell</h1>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well well-sm">
                        <img src="./assets/banner_beer.png" class="img-responsive" />
                        <div class="beer">
                            <h2>BEER</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well well-sm">
                        <img src="./assets/banner_wine.png" class="img-responsive" />
                        <div class="wine">
                            <h2>WINE</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well well-sm">
                        <img src="./assets/banner_liquor.png" class="img-responsive" />
                        <div class="liquor">
                            <h2>LIQUOR</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well well-sm">
                        <img src="./assets/banner_daquiri.png" class="img-responsive" />
                        <div class="daquiri">
                            <h2>DAQUIRIS</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>